
body {
	margin: 0;
	padding: 0;	
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;	
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;	
}
a {
	text-decoration: none;
}
.inner-page {
	background-color: #fefefe;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0,  0.2);
}
.main-header {
	position: relative;
	background-color: #ffffff;
}
.main-nav {
	line-height: 26px;
	font-weight: 700;
}
.main-menu {
	display: flex;
	flex-wrap: wrap;	
	padding: 0 6%;
	margin: 0;
	list-style: none;	
}
.main-menu li {		
	width: 240px;	
	padding: 15px 0;	
	display: flex;	
}
.main-menu li:nth-child(2) {	
	margin-right: 95px;
	justify-content: flex-start;
}
.main-menu li:nth-child(1) {
	justify-content: flex-start;
}
.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	justify-content: flex-end;
}
.menu-item:nth-child(3) a {
	letter-spacing: 0.5px;	
}
.main-menu a {
	color: #000000;
}
.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}
.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}
.main-menu .current {
	color: #766357;
}
.header-logo {
	position: absolute;
	top: 0;
	left: 50%;	
	transform: translateX(-50%);
	z-index: 1;
}
.promo {	
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #333333;
	background-color: #ffffff;	
}
.promo-back {
	position: relative;	
	display: block;
	width: 100%;	
	padding-top: 76px;
	padding-bottom: 74px;
	margin-bottom: 60px;
	background: #487399 url("../img/mountains.jpg") no-repeat center -56px;	
	overflow: hidden;
}
.promo-back::after {
	content: "";
	position: absolute;
	left: 0;	
	bottom: 0;
	width: 100%;
	height: 57px;
	background: url("../img/shape.png") no-repeat 50% 100%;
	background-size: cover;
}
.promo-text {
	align-self: center;
	width: 440px;	
	margin: 0;
	margin-bottom: 29px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.promo-reasons {
	align-self: center;
	width: 500px;
	margin: 0;
	margin-bottom: 51px;
	line-height: 26px;
	letter-spacing: 0.05px;
}
.features {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	text-align: center;
}
.feature-item {
	display: flex;	
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 47px 55px;
	color: #ffffff;
	background-color: #81b3d2;
	box-sizing: border-box;
}
.feature-title {
	width: 151px;
	margin: 0;	
	margin-bottom: 24px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-number {
	display: inline-block;
	width: 55px;
	margin-bottom: 22px;
	vertical-align: middle;
}
.feature-text {
	width: 308px;
	margin: 0;	
}
.features img {
	display: block;
	width: 800px;
	margin: 0;	
}
.features-union {
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: space-between;		
}
.features-union .feature-item {
	padding-bottom: 60px;
	color: #000000;
	background-color: #eeeeee;
}
.features-union .feature-title {
	margin-bottom: 26px;
}
.features-union .feature-number {
	margin-bottom: 20px;
}
.features-union .feature-text {
	width: 280px;
	letter-spacing: 0.1px;
}
.facilities {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}
.facility-item {
	position: relative;
	width: 290px;
	padding: 0 55px;
	padding-top: 160px;
	text-align: center;
}
.facility-title {	
	margin: 0;
	margin-bottom: 25px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.facility-text {
	margin: 0;
	margin-bottom: 82px;
	letter-spacing: 0.05px;
}
.facility-accomodation::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	background: url("../img/icon-1.svg") no-repeat;
}
.facility-food::before {
	content: "";
	position: absolute;
	width: 74px;
	height: 70px;
	top: 61px;
	left: 50%;
	transform: translateX(-57%);
	background: url("../img/icon-2.svg") no-repeat;
}
.facility-souvenirs::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 76px;
	top: 56px;
	left: 50%;
	transform: translateX(-50%);
	background: url("../img/icon-3.svg") no-repeat;
}

.searching {
	position: relative;	
	z-index: 3;
}
.searching-box {	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #ffffff;
}
.searching-title {	
	margin: 0;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
.searching-text {	
	width: 450px;
	margin: 0;
	margin-bottom: 46px;
	line-height: 24px;
}
.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background: #ffffff;
}
.btn {
	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.btn-searching {
	position: relative;	
	width: 568px;
	height: 86px;
	background-color: #766357;	
	z-index: 3;
}
.btn-searching:hover,
.btn-searching:focus {
	background-color: #604e43;
}
.btn-searching:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.searching-form {
	position: absolute;
	top: 86px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 458px;
	padding: 55px;
	background-color: #ffffff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	z-index: 2;
}
.searching-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0;
	margin-bottom: 29px;	
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;	
}
.searching-item label {
	width: 112px;	
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: 0.2px;

}
.searching-item input {	
	width: 346px;
	height: 38px;
	padding: 4px 10px;
	padding-right: 40px;
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: 2px solid transparent;
	box-sizing: border-box;
}
.searching-item input:hover {
	background-color: #ebebeb;
}
.searching-item input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}
.searching-item input[type="text"]::-moz-placeholder {
	color: #000000;
	opacity: 1; 
}
.searching-item input[type="text"]::-webkit-input-placeholder { color: #000000; }
.searching-item input[type="text"]:-ms-input-placeholder { color: #000000; }
.searching-item input[type="text"]::-ms-input-placeholder { color: #000000; }
.searching-item input[type="text"]::placeholder { color: #000000; }

.calendar {
	position: absolute;
	top: 8px;
	right: 9px;
	width: 21px;
	height: 22px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;	
}
.calendar path {
	fill: #cacaca;
}
.calendar:hover path,
.calendar:focus path{
	fill: #000000;
}
.calendar:active path{
	fill: #81b3d2;
}
.item-common {
	display: flex;
	justify-content: space-between;
	margin-bottom: 54px;
}
.counter {
	width: 114px;
	margin: 0;	
	padding: 0;
	font-size: 0;	
}
.item-quantity {
	margin: 0;
	align-self: center;
	width: 226px;
}
.item-quantity:last-child label {
	width: 65px;
	padding-left: 47px;
}
.item-quantity input {
	width: 38px;
	padding: 5px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}
.btn-count {
	width: 38px;
	height: 38px;
	margin: 0;
	font: inherit;
	font-size: 24px;	
	vertical-align: top;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
	cursor: pointer;
}
.btn-count:hover,
.btn-cover:focus {
	color: #000000;
}
.btn-count:active {
	color: #81b3d2;
}
.btn-submit {
	width: 458px;
	height: 58px;	
	background-color: #81b3d2;
}
.btn-submit:hover,
.btn-submit:focus {
	background-color: #669ec0;
}
.btn-submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.map {
	position: relative;
	/*z-index: 1;*/
	width: 100%;	
	line-height: 0;
}
.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border: none;
}
.wrapper {
	position: relative;
}
.footer {	
	display: flex;
	align-items: center;
	padding: 36px 0;	
	background-color: rgba(255, 255, 255, 0.9);
}
.main-footer {
	position: absolute;
	max-width: 1200px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	
}
.footer-hashtag {
	width: 165px;
	margin-left: 132px;
	padding-bottom: 5px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	padding: 0;	
	margin: 0 auto;
	list-style: none;
}
.btn-social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;	
	background-color: #81b3d2;
	color: #000000;
}
.btn-social:hover,
.btn-social:focus {
	background-color: #669ec0;
}
.btn-social:active path {
	fill: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.footer-copyright {
	width: 200px;
	margin: 0;
	margin-right: 97px;
}
.footer-copyright span {
	display: inline-block;
	padding-right: 5px;
	font-size: 14px;
	line-height: 26px;
	vertical-align: middle;
}
.footer-copyright a {	
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	fill: #231F20;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
	fill: #81b3d2;
}
.footer-copyright a:active {
	fill: #bdbbbc;
}

.filters {
	color: #ffffff;
	background: #487399 url("../img/filter-back.jpg") no-repeat center -56px;
}
.filter {
	display: flex;	
	padding: 28px 72px;
	padding-bottom: 12px;
}
.filter fieldset {
	width: 200px;
	margin: 0;
	margin-right: 55px;
	padding: 0;
	border: none;
}
.filter legend {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 25px;
}
.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.filter-option {
	margin-bottom: 23px;
}
.filter-option label {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	vertical-align: top;
	cursor: pointer;
}
.filter-option label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox-off.svg");
}
.filter-option input[type=checkbox]:checked + label::before {
	width: 27px;
	background: url("../img/checkbox-on.svg");
}
.filter-option input[type=checkbox]:focus + label::before {
	border-color: #81b3d2;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;	
}
.filter-option input[type=checkbox]:disabled + label::before {
	background: url("../img/checkbox-dis.svg");
}
.filter-option input[type=checkbox]:checked:disabled + label::before {
	width: 27px;	
	background: url("../img/checkbox-che-dis.svg");
}
.filter-option input[type=checkbox]:disabled + label{	
	color: #6a6a6a;	
}
.filter-range {
	width: 318px;
	margin-left: auto;
	color: #ffffff;  
}
.filter-range-title {
	margin: 0;
	margin-bottom: 9px;  
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.2px;
}
.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}
.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	vertical-align: top;
	cursor: pointer;  
}
.price-controls .price-min,
.price-controls .price-max {
	width: 81px;
	padding-left: 65px;
}
.price-controls input {
	width: 50px;
	height: 22px;
	margin: 0;
	font: inherit;
	color: inherit;
	background: none;
	border: none;
}
.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	transform: translate(-50%, -50%);
}
.range-controls {
	position: relative;
	margin-bottom: 32px;
}
.range-controls .scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}
.range-toggle {
	position: absolute;
	top: -9px;
	width: 20px;
	height: 23px;
	background: url("../img/filter-button.svg") 50% 50%;  
	cursor: pointer;
}
.range-toggle:hover {
	transform: scale(1.1);
}
.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}
.btn-filter {
	display: block;
	width: 137px;  
	margin-left: 85px;
	padding: 6px 33px 6px 35px;
	font: inherit;
	font-size: 14px;
	line-height: 21px;  
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
	color: #000000;
	background: #ffffff;
}
.results {
	display: flex;
	padding: 30px 72px;	
	border-bottom: 1px solid #e5e5e5;	
}
.results ul {
	list-style: none;
}
.result-found {	
	width: 135px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.result-sort {
	width: 80px;
	padding-top: 6px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 18px;
}
.results-list {
	display: flex;
	justify-content: space-between;
	width: 238px;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	margin-left: 34px;			
}
.results-order {
	display: flex;
	justify-content: space-between;
	width: 35px;
	margin: 0;
	padding: 0;
	padding-top: 4px;
	margin-left: auto;	
}
.current path{
	fill: #81b3d2;

}
.results-list a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}
.results-list a:hover,
.results-list a:focus {
	color: #81b3d2;
}
.results-list a:active {
	color: #000000;
	border: none;
}
.results-list a.current {
	color: #81b3d2;
	border: none;
}
.result-order-arrow:hover path,
.result-order-arrow:focus path {
	fill: #231f20;
}
.result-order-arrow path:active  {
	fill: #81b3d2;
}

.catalog {
	display: flex;
	flex-direction: column;	
}
.catalog-item {
	display: flex;	
	padding: 30px 72px;	
	border-bottom: 1px solid #e5e5e5;
}
.catalog-item-info {
	width: 260px;
	margin-left: 30px;
}

.catalog-item-title {
	padding: 0;
	margin: 0;
	margin-top: -4px;
	margin-bottom: 8px;	
}
.catalog-item-title a{
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	letter-spacing: 0.1px;
	color: #000000;
}
.catalog-item-title a:hover, 
.catalog-item-title a:focus {
	color: #81b3d2;
}
.catalog-item-title a:active {
	color: rgba(0, 0, 0, 0.3);
}
.catalog-data {
	margin-bottom: 13px;
}
.catalog-item-type {
	display: inline-block;
	width: 110px;
	margin-right: 2px;
	vertical-align: middle;	
}
.catalog-item-price {
	display: inline-block;
	vertical-align: middle;
}
.catalog-buttons a {	
	font-weight: 700;
	color: #ffffff;
}
.btn-more {	
	display: inline-block;	
	padding: 3px 17px;
	margin-right: 1px;
	text-align: center;
	vertical-align: middle;
	background-color: #81b3d2;
}
.btn-more:hover,
.btn-more:focus {	
	background-color: #669ec0;
}
.btn-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.btn-booking {	
	display: inline-block;
	padding: 3px 17px;	
	vertical-align: middle;
	background-color: #766357;
}
.btn-booking:hover,
.btn-booking:focus {	
	background-color: #604e43;
}
.btn-booking:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.catalog-item-rate {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
}
.stars-container {
	display: flex;
	flex-direction: row-reverse;
}
.catalog-item-stars {
	display: inline-block;
	width: 18px;
	height: 17px;
	margin-left: 5px;
	vertical-align: top;
	background: url("../img/star.svg") no-repeat;
}
.catalog-item-rating {
	display: inline-block;
	width: 110px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
	background-color: #f2f2f2;
}
.form-show {
	
	animation-name: slideDown; 
	animation-duration: 1s; 
	animation-timing-function: ease-in-out;                         
}
/*@keyframes slideDown {
	0% {
		transform: scaleX(0);		
	}

	100% {
		transform: scaleX(1);
	}
}*/
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}    
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}         
	100% {
		transform: translateY(0%);
	}       
}
.form-hidden {
	display: none;
}