
/*#81b3d2-lightblue, #766357-brown, #566a76-for_back, #231F20-for price-min/max
#6a6a6a-color overlay(checkbox)*/
* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;	
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	box-shadow: 0 0 15px rgba(0, 0, 0,  0.2);
	
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.main-header {
	position: relative;
	background-color: #ffffff;
}
.main-nav {
	line-height: 26px;
	font-weight: 700;
}
.main-menu {
	display: flex;
	flex-wrap: wrap;
	/*min-height: 56px;*/
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-menu li {		
	width: 20%;
	height: 56px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-menu li:nth-child(2) {	
	margin-right: 20%;
	text-align: left;
}
.main-menu li:nth-child(1) {
	text-align: left;
}
.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	text-align: right;
}
.main-menu li:nth-child(1) a {
	padding-right: 5px;
	padding-bottom: 3px;
}
.main-menu li:nth-child(2) a {
	padding-left: 1px;
	padding-bottom: 3px;
}
.main-menu li:nth-child(3) a {
	letter-spacing: 0.5px;
	padding-left: 5px;
	
	
	padding-bottom: 3px;
}
.main-menu li:nth-child(4) a {	
	padding-left: 15px;
	padding-bottom: 3px;
}
/*.main-menu li:nth-child(5n-4),
.main-menu li:nth-child(6n-4) {
	text-align: left;
}
.main-menu li:nth-child(4n+3),
.main-menu li:nth-child(4n+4) {
	text-align: right;
}*/
.main-menu a {

	color: #000000;
}
.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}
.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}
.main-nav a.current {
	color: #766357;
}
.header-logo {
	position: absolute;
	top: 0;
	left: 50%;	
	margin-left: -69px;
	z-index: 1;
}
.promo {
	
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #333333;
	background-color: #ffffff;
	
}
.promo-back {
	position: relative;	
	display: block;
	width: 100%;
	max-height: 508px;
	padding-top: 76px;
	padding-bottom: 74px;
	background: #487399 url("../img/mountains.jpg") no-repeat center -56px;	
	overflow: hidden;
}
.promo-back::after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	background: url("../img/shape.png") no-repeat 50% 100%;
	bottom: 0;
	height: 57px;
	background-size: cover;
}
.promo-text {
	align-self: center;
	width: 440px;
	
	margin-top: 60px;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.promo-reasons {
	align-self: center;
	width: 500px;
	margin-top: 5px;
	margin-bottom: 52px;
	
	line-height: 26px;
	letter-spacing: 0.8;
}
.features {
	display: flex;	
	margin: 0;
	padding: 0;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}
.feature-item {
	display: flex;
	width: 400px;
	height: 256px;
	flex-direction: column;
	align-items: center;
	padding: 0 50px;
}
.feature-title {
	width: 151px;
	margin: 0;
	margin-top: 47px;
	margin-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.feature-number {
	display: inline-block;
	width: 55px;
	margin-bottom: 9px;
}
/*.feature-text {
	width: 280px;
	margin-bottom: 60px;
}*/
.feature-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 256px;
	overflow: hidden;
}
.feature-picture img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 9px;
}
.features-union {
	display: flex;
	justify-content: space-between;

	color: #000000;
	background-color: #eeeeee;	
}

.facilities {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}
.facility-item {
	display: flex;
	flex-direction: column;
	width: 400px;
	text-align: center;
	padding: 0 55px;
}
.facility-title {	
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin-top: 160px;
	margin-bottom: 12px;
}
.facility-accomodation {
	background: url("../img/icon-1.svg") no-repeat 50% 59px;
}
.facility-food {
	background: url("../img/icon-2.svg") no-repeat 50% 59px;
}
.facility-souvenirs {
	background: url("../img/icon-3.svg") no-repeat 50% 57px;
}
.facility-text {
	margin-bottom: 81px;
}
.searching {
	position: relative;
}
.searching-box {	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #ffffff;
}
.searching-title {
	margin: 0;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700px;
}
.searching-text {
	width: 450px;
	margin: 0;
	margin-bottom: 46px;
	line-height: 24px;
}
.btn {
	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.btn-searching {
	width: 568px;
	height: 86px;	
	background-color: #766357;	
}
.btn-searching:hover,
.btn-searching:focus {
	background-color: #604e43;
}
.btn-searching:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.modal {
	position: absolute;
	top: 291px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 568px;
	padding: 55px;
	background-color: #ffffff;
}
.searching-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0;
	margin-bottom: 29px;	
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	vertical-align: middle;
}
.searching-item input {	
	width: 346px;
	height: 38px;	
	padding: 5px 13px;
	padding-right: 40px;
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: 2px solid transparent;
}
.searching-item input:hover {
	background-color: #ebebeb;
}
.searching-item input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}
.searching-item input[type="text"]::-moz-placeholder {
    color: #000000;
    opacity: 1; 
}
.searching-item input[type="text"]::-webkit-input-placeholder { color: #000000; }
.searching-item input[type="text"]:-ms-input-placeholder { color: #000000; }
.searching-item input[type="text"]::-ms-input-placeholder { color: #000000; }
.searching-item input[type="text"]::placeholder { color: #000000; }

.searching-item a {
	position: absolute;
	top: 8px;
	right: 9px;
	fill: #cacaca;
}
.searching-item a:hover,
.searching-item a:focus {
	fill: #000000;
}
.searching-item a:active {
	fill: #81b3d2;
}
.counter {
	width: 114px;
	margin: 0;
	margin-bottom: 54px;
	padding: 0;
	background-color: #f2f2f2;
}
.searching-item-date {
	margin: 0;
	align-self: center;
	width: 226px;
}
.searching-item-date input {
	width: 38px;
	padding: 5px;

	text-align: center;
}
.btn-count {
	width: 38px;
	height: 38px;
	margin: 0;
	font: inherit;
	font-size: 24px;
	/*line-height: 28px;*/
	/*font-weight: 700;*/
	vertical-align: top;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
	cursor: pointer;
}
.btn-count:hover,
.btn-cover:focus {
	color: #000000;
}
.btn-count:active {
	color: #81b3d2;
}
.form-column {
	display: flex;
	justify-content: space-between;
}
.btn-submit {
	width: 458px;
	height: 58px;	
	background-color: #81b3d2;
}
.btn-submit:hover,
.btn-submit:focus {
	background-color: #669ec0;
}
.btn-submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.map {	
	line-height: 0;
}
.main-footer {
	display: flex;
	align-items: center;
	min-height: 120px;
	background-color: rgba(255, 255, 255, 0.9);
}
.footer-hashtag {
	width: 165px;
	margin-left: 132px;
	/*margin-right: 255px;*/
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
.btn-social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	color: #000000;
}
.btn-social:hover,
.btn-social:focus {
	background-color: #669ec0;
}
.btn-social:active path {
	fill: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.footer-copyright {
	width: 196px;
	margin-right: 99px;
}
.footer-copyright span {
	font-size: 14px;
	line-height: 26px;
}
.footer-copyright a {
	fill: #231F20;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
	fill: #81b3d2;
}
.footer-copyright a:active {
	fill: #bdbbbc;
}

.filters {	
	color: #ffffff;
	background: #487399 url("../img/filter-back.jpg") no-repeat;
}
.filter {
	display: flex;
	min-height: 217px;
	padding: 28px 72px;
	padding-bottom: 0;
}
.filter fieldset {
	width: 200px;
	margin: 0;
	margin-right: 55px;
	padding: 0;
	border: none;
}
.filter legend {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 25px;
}
.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.filter-option {
	margin-bottom: 23px;
}
.filter-option label {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}
.filter-option label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox-off.svg");
}
.filter-option input[type=checkbox]:checked + label::before {
	content: "";
	width: 27px;
	background: url("../img/checkbox-on.svg");

}
.filter-option input[type=checkbox]:focus {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
.filter-range {
  width: 318px;
  margin-left: auto;
  color: #ffffff;
  /*text-transform: uppercase;/*временно тут or not*/
  
  
}
.filter-range-title {
	margin: 0;
	margin-bottom: 9px;  
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;

}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;/*example-38*/
  vertical-align: top;/*example-top-why??*/
  cursor: pointer;  
}
.price-controls .price-min,
.price-controls .price-max {
  /*width: 90px;content-box/*example-90px*/
  padding-left: 65px;/*65*/
}
.price-controls input {
  width: 50px;/*50why???*/
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 23px;
  background: url("../img/filter-button.svg") 50% 50%;  
  cursor: pointer;
}
.range-toggle:hover {
	transform: scale(1.1);
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-filter {
  display: block;
  width: 137px;
  height: 36px;
  margin: 0 auto;
  /*padding: 6px 33px 6px 35px;*/
  font-size: 14px;
line-height: 21px;  
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
	color: #000000;
	background: #ffffff;
}
.results {
	display: flex;
	align-items: center;
	min-height: 86px;
	padding: 0 72px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fefefe;
}
.result-found {
	
	width: 135px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.result-sort {
	width: 80px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 18px;
}

.result-item {
	font-size: 12px;
	line-height: 18px;
}
.results-list {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 40px;
	width: 240px;
	justify-content: space-between;
	list-style: none;
}
.results-order {
	display: flex;
	margin-left: auto;
	list-style: none;
}
.result-arrow {
	margin-left: auto;

}
.result-item {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.results-list a.current {
	color: #81b3d2;
	border: none;
}
.catalog {
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
}
.catalog-item {
	display: flex;
	/*align-items: center;*/
	padding: 30px 72px;
	min-height: 150px;
	border-bottom: 1px solid #e5e5e5;
}
.catalog-item-info {
	/*display: flex;*/
	position: relative;
	
	
	width: 258px;
	margin-left: 30px;
}
.catalog-item-rate {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 111px;
	margin-left: auto;

}
.catalog-item-stars {
	align-self: flex-end;
	display: block;
	width: 18px;
	height: 17px;
	font-size: 0;
	background: url("../img/star.svg") repeat-x;
}
.four-stars {
	width: 89px;
	background-repeat: space;
}
.three-stars {
	width: 64px;
	background-repeat: space;
}
.two-stars {
	width: 41px;
	background-repeat: space;
}
.catalog-item-rating {
	display: inline-block;
	width: 110px;
	height: 27px;
	line-height: 27px;/*а по макету 21px*/
	text-align: center;
	vertical-align: middle;
	
}
.catalog-item-title {
	padding: 0;
	margin: 0;
}
.catalog-item-title a{	
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}
.catalog-item-title a:hover, 
.catalog-item-title a:focus {
	color: #81b3d2;
}
.catalog-item-title a:active {
	color: rgba(0, 0, 0, 0.3);
}
.catalog-item-info > a {
	display: inline-block;
	font-weight: 700;
	color: #ffffff;
}
.btn-more {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;	
	width: 110px;
	padding: 3px 17px;
	text-align: center;
	vertical-align: middle;
	background-color: #81b3d2;
}
.btn-more:hover,
.btn-more:focus {	
	background-color: #669ec0;
}
.btn-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.btn-booking {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 3px 17px;
	width: 142px;	
	background-color: #766357;
}
.btn-booking:hover,
.btn-booking:focus {	
	background-color: #604e43;
}
.btn-booking:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}
.catalog-item-rating {
	color: #666666;
	background-color: #f2f2f2;
}